- name: reload modules-load
  ansible.builtin.systemd:
    name: systemd-modules-load
    state: restarted
    daemon_reload: yes

- name: restart tunneldigger per domain
  ansible.builtin.systemd:
    name: "tunneldigger@{{ item.key }}.service"
    state: restarted
    enabled: yes
  loop: "{{ domaenenliste | dict2items }}"
  loop_control:
    label: "tunneldigger@{{ item.key }}.service"
