// {{ ansible_managed }}

options {
	directory "/var/cache/bind";

	dnssec-validation auto;

	recursion yes;
	allow-recursion {
		127.0.0.0/8;
		::1;
{% if domaenenliste is defined %}
{% for domaene in domaenenliste|dictsort %}
		{{domaenen[domaene[0]].ffv4_network}};
		{{domaenen[domaene[0]].ffv6_network}};
{% endfor %}
{% endif %}
	};

	auth-nxdomain no;    # conform to RFC1035
{% if domaenenliste is defined %}
	listen-on {
		127.0.0.1;
{% for domaene in domaenenliste|dictsort %}
		{{domaenen[domaene[0]].ffv4_network | ipaddr(domaenenliste[domaene[0]].server_id) | ipaddr('address') }};
{% endfor %}
	};
	listen-on-v6 {
		::1;
{% for domaene in domaenenliste|dictsort %}
		{{domaenen[domaene[0]].ffv6_network | ipaddr(domaenenliste[domaene[0]].server_id) | ipaddr('address') }};
{% endfor %}
	};
{% else %}
	listen-on-v6 { any; };
{% endif %}
	minimal-responses yes;
	tcp-clients 1000;
	recursive-clients 10000;
	rrset-order { order random; };
};
{% if collectd is defined and collectd.collect_bind %}
statistics-channels {
	inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};
{% endif %}
