# {{ ansible_managed }}

log_format gluon_version '$remote_addr - $remote_user [$time_local] '
  '"$request" $status $body_bytes_sent '
  '"$http_referer" "$http_user_agent" ($http_x_firmware_version)';

access_log off;
