# {{ ansible_managed }}

server {
    listen {{ item.key.split(":")[1] | default("80") }};
    listen [::]:{{ item.key.split(":")[1] | default("80") }};

    server_name {{ ([ item.key.split(":")[0] + "." + freifunk.domain ] + item.value.aliases | default([])) | join(" ") }};

    location / {
{% if item.value.anonymize | default(True) %}
        proxy_set_header X-Real-IP $ip_anonymized;
        proxy_set_header X-Forwarded-For $ip_anonymized;
{% else %}
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $remote_addr;
{% endif %}
        proxy_set_header Host $host;
        proxy_buffering off;

{% if item.value.backend | lower | urlsplit('scheme') == "https" and item.value.backend | lower | urlsplit('hostname') | ipaddr %}
        proxy_ssl_verify off;

{% endif %}
        proxy_pass {{ item.value.backend }};
    }

{% if item.value.anonymize | default(True) %}
    access_log /var/log/nginx/access.log anonymized;
{% else %}
    access_log /var/log/nginx/access.log;
{% endif %}
}
