#!/usr/bin/env bash
# {{ ansible_managed }}

# Implementierung einer Fastd-Blacklist
# Das Script wird aus Fastd beim Aufbau einer Verbindung aufgerufen
# Zu blockende Keys in die Datei /etc/fastd/blacklist.txt eintragen

set -euo pipefail

cd "$(dirname "$0")" || exit 1

. /etc/fastd/hooks/common

PEER_KEY=$1

if /bin/grep -Fq $PEER_KEY /var/freifunk/gateway-{{ freifunk.kurzname }}/fastd/blacklist; then
	log "Peer $PEER_KEY is blacklisted"
	exit 1
else
	exit 0
fi
