---
# gateways_l2tp_slovenija/tasks/main.yml

- name: Install dependencies for this role
  ansible.builtin.apt:
    name:
      - git
      - gcc
      - libnetfilter-conntrack-dev
      - libnfnetlink-dev
      - libnl-3-dev
      - libevent-dev
      - bridge-utils
      - ebtables
      - iproute2
      - python3-dev
      - python3-venv
      - python3-virtualenv
      - virtualenv
    state: present
    update_cache: yes
    cache_valid_time: 3600
  when: domaenenliste is defined

- name: Get all enabled tunneldigger (domain specific) instances
  ansible.builtin.shell: |
    set -o pipefail
    /bin/ls /etc/systemd/system/multi-user.target.wants/tunneldigger@* | grep -oE "[0-9]+"
  args:
    executable: /bin/bash
  changed_when: false
  failed_when: false
  check_mode: false
  register: _td_domain_instances
  when: domaenenliste is defined

- name: Stop and disable obsolete td instances
  ansible.builtin.service:
    name: "tunneldigger@{{ item }}.service"
    enabled: no
    state: stopped
  loop: "{{ _td_domain_instances.stdout_lines | default([]) }}"
  loop_control:
    label: "tunneldigger@{{ item }}.service"
  when:
    - domaenenliste is defined
    - item not in domaenenliste

- name: Clone tunneldigger master
  ansible.builtin.git:
    repo: https://github.com/wlanslovenija/tunneldigger
    dest: /srv/tunneldigger
    update: yes
    force: yes
  when: domaenenliste is defined
  tags:
    - skip_ansible_lint

- name: Create virtualenv (python3)
  ansible.builtin.command: python3 -m venv /srv/tunneldigger/env_tunneldigger
  args:
    chdir: /srv/tunneldigger/
    creates: /srv/tunneldigger/env_tunneldigger/bin/python
  when: domaenenliste is defined
  ignore_errors: "{{ ansible_check_mode }}"

- name: Upgrade pip/setuptools/wheel in venv
  ansible.builtin.pip:
    name:
      - pip
      - setuptools
      - wheel
    state: latest
    virtualenv: /srv/tunneldigger/env_tunneldigger
    virtualenv_python: python3
  when: domaenenliste is defined
  ignore_errors: "{{ ansible_check_mode }}"

- name: Install tunneldigger broker into venv
  ansible.builtin.pip:
    name: /srv/tunneldigger/broker
    virtualenv: /srv/tunneldigger/env_tunneldigger
    virtualenv_python: python3
  when: domaenenliste is defined
  ignore_errors: "{{ ansible_check_mode }}"

- name: Deploy addif.sh for each domain
  ansible.builtin.template:
    src: addif.sh.j2
    dest: "/srv/tunneldigger/broker/scripts/addif_domain{{ item.key }}.sh"
    mode: "0755"
  loop: "{{ domaenenliste | dict2items }}"
  loop_control:
    label: "domain {{ item.key }}"
  when: domaenenliste is defined

- name: Deploy delif.sh for each domain
  ansible.builtin.template:
    src: delif.sh.j2
    dest: "/srv/tunneldigger/broker/scripts/delif_domain{{ item.key }}.sh"
    mode: "0755"
  loop: "{{ domaenenliste | dict2items }}"
  loop_control:
    label: "domain {{ item.key }}"
  when: domaenenliste is defined

- name: Create sperrliste.txt if not exists
  ansible.builtin.command: touch /srv/tunneldigger/broker/scripts/sperrliste.txt
  args:
    creates: /srv/tunneldigger/broker/scripts/sperrliste.txt
  when: domaenenliste is defined

- name: Deploy tunneldigger.conf to /etc/modules-load.d/
  ansible.builtin.copy:
    src: tunneldigger.conf
    dest: /etc/modules-load.d/tunneldigger.conf
  when: domaenenliste is defined
  notify: reload modules-load

- name: Deploy l2tp_broker.cfg for each domain
  ansible.builtin.template:
    src: l2tp_broker.cfg.j2
    dest: "/srv/tunneldigger/broker/l2tp_broker_domain{{ item.key }}.cfg"
  loop: "{{ domaenenliste | dict2items }}"
  loop_control:
    label: "domain {{ item.key }}"
  when: domaenenliste is defined
  notify: restart tunneldigger per domain

- name: Deploy tunneldigger@.service template file
  ansible.builtin.copy:
    src: tunneldigger@.service
    dest: /etc/systemd/system/tunneldigger@.service
  register: _domain_td_systemd
  when: domaenenliste is defined
  notify: restart tunneldigger per domain

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: yes
  when:
    - domaenenliste is defined
    - _domain_td_systemd is defined
    - _domain_td_systemd.changed

- name: Enable all tunneldigger instances
  ansible.builtin.systemd:
    name: "tunneldigger@{{ item.key }}.service"
    enabled: yes
  loop: "{{ domaenenliste | dict2items }}"
  loop_control:
    label: "tunneldigger@{{ item.key }}.service"
  when: domaenenliste is defined

- name: Configure logrotate for tunneldigger
  ansible.builtin.template:
    src: logrotate-tunneldigger.j2
    dest: /etc/logrotate.d/tunneldigger
  when: domaenenliste is defined
